.git/
.github/
.idea/
.ruff_cache/
.pytest_cache/
.mypy_cache/
.venv/
venv/

__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

.coverage
coverage.xml
htmlcov/
bandit-report.json
licenses-report.md

.env
.env.*
!.env.example

db.sqlite3
media/
staticfiles/
